<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>StarShip</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

        <div id="menu">
                <a class="button-menu" href="/">Home</a>
                <a class="button-menu" href="/1">Ayumi H.</a>
                <a class="button-menu" href="/2">Mad C.</a>
                <a class="button-menu" href="/3">BlackPink</a>
                <a class="button-menu" href="/4">Taeyang</a>
            </div>
            
   <br>

   <hr class="bar1">
   



