<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Starship Records</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

    <br>
    <div class="menu-container">
        <a class="menu-button" href="/">Home</a>
        <a class="menu-button" href="/1">Ayumi H.</a>
        <a class="menu-button" href="/2">Mad C.</a>
        <a class="menu-button" href="/3">BlackPink</a>
        <a class="menu-button" href="/4">Taeyang</a>
    </div>
    <br>

    <hr class="bar1">


    

