
<% include ../parts/01-up %>

    <h1>Mad Clown</h1>
    <img class="bor1" src="../imgs/sing2.jpg" alt="Miss Pic">
    <br><br>

    <iframe class="bor1" width="554" height="309" src="https://www.youtube.com/embed/XzNqcc__uRs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<% include ../parts/02-dw %>