
<% include ../parts/01-up %>

    <h1>Ayumi Hamasakik</h1>

    <img class="bor1" src="../imgs/sing1.jpg" alt="Missing Picture">
    <br><br>

    <iframe class="bor1" width="560" height="315" src="https://www.youtube.com/embed/roOundjR3jU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<% include ../parts/02-dw %>